@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

:root {
  --color-main:#FF6F00;
  --color-black:#10100A;
  --color-gray: #BEBEBE;
  --color-green:#867D4E;
  --color-sky:#1F96C2;
  --color-orange:#F5983C;
  --color-white:#fafafa;
  --color-brown:#402716;
}



html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #000;
  /* line-height: 1.3; */
  -webkit-font-smoothing:antialiased;
  padding-top: 50px;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-gray);
}

a:visited {
  color: #27677c;
}







section {
  width: 100%;
  height: 100%;
  padding: 15px 30px 0 30px;
}
h1.logo { 
  color: var(--color-white);
  float: left;
  padding-left: 20px;
  margin: 0; 
  height: 50px; 
  line-height: 50px;
}
h1.logo > span {
  font-weight: 700;
  padding: 0 16px 0 0;
}
h1.logo a {
  color: var(--color-white);
}
h1.logo img {
  width: 90%;
  padding-top: 4px;
}



nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--color-black);
  z-index: 9999; 
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0.125em;
}

nav li a {
  display: block;
  padding: 0 46px;
}

.nav li a.active {
  background-color: var(--color-black);
  color: var(--color-main);
}
.nav li a:after {
  width: 0;
  height: 1vw;
  background: #5d8cef;
  left: 50%;
}

.nav-mobile {
  color: var(--color-white);
  float: right;
  display: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 980px) {
  nav ul {
    width: 100%;
    display: none;
    background-color: var(--color-black);
  }
  nav li {
    width: 100%;
  }

  nav li a {
    padding: 0 30px;
  }

  .nav-mobile {
    display: inline-block;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 981px) {
  nav ul {
    display: block !important;
  }
}

@media (max-width: 480px) {
  h1.logo img {
    width: 80%;
    padding-top: 8px;
  }
}




.wrap {
  /* width: 1220px; */
  width: 1430px;
  margin: 0 auto;
  position: relative;
}

.title_box {
  width: 100%;
  display: block;
}
.title_box > h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-main);
  letter-spacing: -0.025em;
  margin: 0;
}
.title_box > p {
  font-size: 1.125rem;
  color: var(--color-white);
  margin: 6px 0 40px 0;
}

.line_box {
  display: block;
  text-align: center;
  padding: 150px 0;
}
.line_box img {
  max-width: 100%;
  height: auto;
}
.click-me {
  float: left;
  width: 398px;
  height: 48px;
  background: var(--color-white);
  color: white;
  text-align: center;
  line-height: 48px;
  font-size: 1.2rem;
  font-weight: 800;
}
.click-me a {
  display: block;
  color: var(--color-main);
}
.click-me a:hover {
  background: var(--color-main);
  color: var(--color-white);
}


/* 컨텐츠 시작 */
/*--------------------------- this is bold beer */
#section1 {
  background-image: url(../images/bg_1.png);
  background-size: cover;
}
#section1 .title_box > h1 { }
#section1 .click-me { float: right;}


/*--------------------------- what we make */
#section2 {
  background-image: url(../images/bg_2.png);
  background-size: cover;
  position: relative;
}
#section2 .title_box > h1 { color: var(--color-brown);}

.beer { width: 100%;}

[class^="beer_box"] {
  width: 32%;
  float: left;
  margin-right: 2%;
  text-align: center;
}
.beer_box3 { margin: 0;}

[class^="beer_box"] p {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 300;
  margin: 6% 3%;
  border-top: 1px solid #e0e0e091;
  padding-top: 12px;
  letter-spacing: -0.025em;
}
[class^="beer_box"] p > span {
  font-weight: 500;
  font-size: 1rem;
}


[class^="beer_box"] > .img_inner {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  display: inline-block;
}
[class^="img_inner"] img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 마우스오버효과 시작 */
.overlay {
  position: absolute;
  transition: all .5s ease;
  opacity: 0;
}
[class^="img_inner"]:hover .overlay {
  opacity: .8;
}
.text {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--color-brown);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 32px;
  border-radius: 5px;
  /* width: 100%; */
}
.text > span {
  margin-top: 12px;
  border-top: 1px solid white;
  font-size: 0.875rem;
  display: block;
}
.overlayBottom {
  height: 0;
  width:100%;
  bottom:0;
  left: 0;
  background: #e6e6e6d5;
}
[class^="img_inner"]:hover .overlayBottom {
  height: 100%;
}
/* 마우스오버효과 끝 */

/* 이미지확대오버효과 시작 */
[class^="img_inner"]:hover img { opacity: 0.9; transform: scale(1.1);}
[class^="img_inner"] *{ transition: all 0.45s ease-in-out;}
/* 이미지확대오버효과 끝 */





/*--------------------------- what we make */
#section3 {
  background-image: url(../images/bg_3.png);
  background-size: cover;
}
#section3 .title_box > h1 {
  color: var(--color-sky);
}
#section3 .title_box > p {
  margin: 6px 0 64px 0;
}
.shop { width: 100%;}

[class^="shop_box"] {
  width: 23.5%;
  margin-right: 2%;
  float: left;
  text-align: center;
}
.shop_box4 { margin: 0;}

[class^="shop_box"] > .img_inner {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;

  position: relative;
  display: inline-block;
}

[class^="shop_box"] p {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  margin: 8% 4%;
  border-top: 1px solid #e0e0e091;
  padding-top: 12px;
  letter-spacing: -0.025em;
}
[class^="shop_box"] p > span {
  margin-top: 6px;
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
}
.get_button {
  text-align: center;
}
.get_button a {
  width: 60%;
  font-size: 0.875rem;
  /* color: var(--color-main); */
  padding: 8px 0;
  background: var(--color-sky);
  display: block;
  margin: 0 auto;
}
.get_button a:hover {
  /* color: var(--color-white); */
  color: var(--color-main);
  background: var(--color-white);
}




#section4 {
  background-image: url(../images/bg_4_n.png);
  background-size: cover;
}

#section4 .title_box > h1 {
  color: var(--color-orange);
}

#section4 .button .click-me {
  position: relative;
  top: 0;
  /* top: 40px; */
  left: 50%;
  transform: translate(-50%, 0%);
}
#section4 .button .click-me a {
  color: var(--color-orange);
}
#section4 .button .click-me a:hover {
  background: var(--color-orange);
  color: var(--color-white);
}

#section4 .line_box2 {
  margin-top: 0px;
  display: block;
  text-align: center;
  /* padding: 0px 0; */
}
#section4 .line_box2 img {
  max-width: 120px;
  height: auto;
}

.scroll-status {
  background-color: black;
  border-top-left-radius: 4px;
  bottom: 0;
  color: white;
  display: none;
  padding: 10px;
  position: fixed;
  right: 0;
}

.mapbox {
  /* background: #1F96C2; */
  padding-top: 100px;
  width: 30%;
  margin: 0 auto;
}




@media (min-width: 1431px) {
  .wrap { 
    width: 1430px;
    padding: 0 2%;
  }
}

@media (max-width: 1430px) {
  .wrap { width: 100%;}
}

@media (max-width: 1220px) {
  .wrap { width: 100%;}
}

@media (max-width: 768px) {
  #section1 .click-me { 
    float: none;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .line_box {
    padding: 64px 0;
  }
  #section4 .line_box2 {
    margin-top: 32px;
  }
  #section4 .line_box2 img {
    max-width: 80px;
    height: auto;
  }
}


@media (max-width: 480px) {
  .line_box {
    padding: 12px 0;
  }
  .click-me { width: 100%;}

  #section3 .button .click-me {
    position: relative;
    top: 0;
  }
  #section4 .line_box2 img {
    max-width: 60px;
    height: auto;
  }
}


